* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;   
  }

  p {
    font-size: 2rem;
  }

  h1 {
    font-size: 5rem;
    
  }

  .bold {
    font-weight: 700;
  }

  .small {
    font-size:1.5rem;
  }

  .app {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #f8f8f8;
  }

  .back {
    position: absolute;
    left: 6%;
    top: 2%;
  }

  .back-button {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
  }

  .search-bar {
    display: flex;
    position: relative;
    top: 1%;
    width: 70%;
    margin: 0 auto;
    border: solid 1px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    color: #f8f8f8;
  }

  .search-suggestions {
    position:relative;
    top:1%;
    margin: 0 auto;
    width: 67%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4);
    border: solid 1px rgba(0, 0, 0, 0.1);
    padding: 5px;
    z-index: 10;
  }
  
  .search-suggestions:hover {
    background-color: rgba(255 ,255 ,255 , 0.2)
  }

  ::placeholder {
    color: #f8f8f8;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 12.5%;
    width: 75%;
    height: 50vh;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .container {  
    width: 80%;
    height: 70vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color: rgba(0 ,0 ,0 , 0.4);
    border-radius: 15px;
    margin: 5rem auto;
    position: absolute;
    top: 5%;
    left: 10%;
  }

  .top {
    padding: 0 1rem;
    display: flex;
    justify-content: space-evenly;
  }

  .location {
    text-align: center;
  }

  .weather {
    text-align: center;
  }

  .bottom {
    background-color: rgba(255 ,255 ,255 , 0.2);
    border-radius: 5px;  
    width: 90%;
    height: fit-content;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
  }

@media screen and (max-width: 1000px) {
  .top {
    flex-direction: column;
    height: 45vh;
  }

  p {
    font-size: 3rem;
  }

  .small {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {

  .search-suggestions {
    width: 60%;
  }

  .back {
    left: 2%;
  }

  p {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  .bold {
    font-weight: 700;
  }

  .small {
    font-size:1.2rem;
  }

  .container {
    width: 80%;
  }

  .top {
    flex-direction: column;
    height: 45vh;
  }

  .bottom {
    width: 100%;
  }

  .feels, .humidity, .wind {
    padding: 0 0.8rem;
    /* background-color: rgba(255,255,255,0.6) */
  }

  .feels > p, .humidity > p, .wind > p {
    font-size: 1.1rem;
  }
}